<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="QuanLiBanHang_tiemlvph03192ConnectionString" connectionString="Data Source=.;Initial Catalog=QuanLiBanHang_tiemlvph03192;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLiBanHang_tiemlvph03192_dientoan" connectionString="Data Source=REASONAMU\SQLEXPRESS;Initial Catalog=QuanLiBanHang_tiemlvph03192;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
